@model GRUD.Models.ContactCreateViewModel

<form asp-controller="Contact" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" />
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="DateOfBirth" />
        <span class="text-danger" asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adress"></label>
        <input class="form-control" asp-for="Adress" />
        <span class="text-danger" asp-validation-for="Adress"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <dl>
            <dt>
                <label asp-for="ImageName"></label>
            </dt>
            <dd>
                <input asp-for="ImageName" type="file">
                <span  asp-validation-for="ImageName"></span>
            </dd>
        </dl>
    </div>
    <button class="btn btn-primary" type="submit">Create Contact</button>
</form>